.project{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 20px;
}
.project div{
    width: 320px;
    height: 320px;
    box-shadow: 2px 2px 2px 2px black;
}
.project div img{
    width: 100%;
    height: 100%;
}
.project-container h1{
    text-align: center;
    padding: 20px 0px;
}